.catalogoC{
    margin-top: 40px;
    max-width: 1200px;
    margin: 0 auto;

    &__title{
        margin-bottom: 20px;
        text-align: center;
        color: $colorc;
        font-size: $fonttitle;
        color: $colorc;
        padding: 20px;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        &--card{
            background-color: $colora;
            padding: 20px;
            width: 400px;
            border-radius: 20px;
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 1);
            transition: background-color 1s, transform 0.3s;
            &:hover{
                background-color:$colord;
                transform: translatey(-15px); 
            }
            &__header{
               position: relative;
               img{
                    width: 100%;
                    border-radius: 20px;
                    margin-bottom: 20px;
               } 
               &__title{
                    background-color:rgba(0, 20, 0, 0.5);
                    color: $colora;
                    padding: 8px;
                    position: absolute;
                    right: 0;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
               }
            }
            &__title{
                color: $colorc;
                margin-bottom: 20px;
                font-size: $fontbase;   
            } 
            &__Description{
                color: $colore;
                margin-bottom: 40px;  
            }
            &__link{
                background-color: $colorf;
                width: 100%;
                display: inline-block;
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                a{
                    color: $colorg;
                    font-size: $fontbase;
                }
            }
    }
    
    }
}
@media (max-width: 1400px){
    .catalogoC{
        &__title{
        }
        &__grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }  
}    
@media (max-width: 880px){
    .catalogoC{
        &__title{
        }
        &__grid{
            grid-template-columns: 1fr;
        }
    }  
}   
@media (max-width: 540px){
    .catalogoC{
        &__grid{
            &--card{
                width: 275px;
            } 
        } 
    } 
}  